nltk @ file:///opt/conda/conda-bld/nltk_1645628263994/work
openai==0.27.2
praw==7.7.1
prawcore==2.4.0
scikit-learn @ file:///opt/concourse/worker/volumes/live/cffa5efe-beec-4a37-5774-350794e43990/volume/scikit-learn_1642617139916/work
scikit-learn-intelex==2021.20221004.121333
sentence-transformers==2.2.2
transformers==4.26.1
